/* Import after reset.css */

/* Fonts */
/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200i|Spectral+SC|Spectral:400,600,400i&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,200&family=Spectral+SC&family=Spectral:ital,wght@0,400;0,600;1,400&display=block'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;1,200&family=Spectral+SC:wght@200;400&family=Spectral:ital,wght@0,400;0,600;1,400&display=swap');

/* Default font */
body {
    font-family: 'Spectral', serif;
    font-weight: 400;
}

/* Name */
h1 {
    font-size: 2em;
}

/* Name,  Item title */
h1, h3 {
    font-weight: 600;
}

/* Résumé sections, dates */
h2, h5 {
    font-family: 'Spectral SC', 'Spectral', serif;
    font-weight: 200;
}

/* Item subtitle */
h4 {
    font-style: italic;
}

/* Contact details / links */
a {
    color: black;
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    font-weight: 200;
    line-height: 1.25;
    text-decoration: none;
}

/* List indentation */
li {
    margin-left: 0.75em;
    text-indent: -0.75em;
    line-height: 1.25em;
}

/* Custom bullets */
li::before {
    content: '• ';
}

/* * LAYOUT * */
/* Name, contact details */
h1, p:first-of-type {
    text-align: center;
}

/* Résumé sections */
h2 {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

/* Item title */
h3 {
    margin-top: 1em;
}

/* Item duration */
h5 {
    margin-top: -1em;
    text-align: right;
}
